name: tuf_app_mvp
description: "TUF Plus - Ed-tech platform MVP"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.0
  equatable: ^2.0.7
  google_nav_bar: ^5.0.7
  google_fonts: ^6.2.1
  percent_indicator: ^4.2.5
  table_calendar: ^3.2.0
  line_icons: ^2.0.3
  cached_video_player_plus: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/images/
